<label for="favorite-cookie">What's your favorite cookie?</label>
{{#if blockStyle}}
  {{#select-menu id="favorite-cookie" value=favoriteCookie prompt=prompt disabled=isDisabled}}
    {{#each it in this}}
      {{#select-option id=it.id value=it disabled=it.disabled}}
        {{it.name}}
      {{/select-option}}
    {{/each}}
  {{/select-menu}}
{{else}}
  {{#select-menu id="favorite-cookie" value=favoriteCookie prompt=prompt disabled=isDisabled}}
    {{#select-group label="Cookies"}}
      {{#each it in this}}
        {{select-option label=it.name id=it.id value=it disabled=it.disabled}}
      {{/each}}
    {{/select-group}}
  {{/select-menu}}
{{/if}}
<div id="favorite">{{favoriteCookie.name}}</div>

{{#select-menu id="alphabet"}}
  {{#each it in alphabet}}
    {{select-option id=it value=it label=it}}
  {{/each}}
{{/select-menu}}
