<label for="favorite-cookie">What's your favorite cookie?</label>
{{#if blockStyle}}
  {{#select-menu id="favorite-cookie" value=favoriteCookie prompt=prompt disabled=isDisabled}}
    {{#each this}}
      {{#select-option id=id value=this disabled=disabled}}
        {{name}}
      {{/select-option}}
    {{/each}}
  {{/select-menu}}
{{else}}
  {{#select-menu id="favorite-cookie" value=favoriteCookie prompt=prompt disabled=isDisabled}}
    {{#select-group label="Cookies"}}
      {{#each this}}
        {{select-option label=name id=id value=this disabled=disabled}}
      {{/each}}
    {{/select-group}}
  {{/select-menu}}
{{/if}}
<div id="favorite">{{favoriteCookie.name}}</div>

{{#select-menu id="alphabet"}}
  {{#each alphabet}}
    {{select-option id=this value=this label=this}}
  {{/each}}
{{/select-menu}}
